<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
  <a th:href="@{/login}">
              <button class="btn btn-danger">
                  Deslogar
              </button>
-->              
          </a>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
<nav>
  
  
    <nav>
  <div>
    <a th:href="@{/dashboard}">Dashboard</a>
    <a th:href="@{/pacotes}">Pacotes</a>
    <a th:href="@{/lojas}">Lojas</a>
  </div>
  <div>
    <a th:href="@{/pacotes/novo}">Nova Remessa</a>
    <a th:href="@{/lojas/nova}">Nova Loja</a>
    <a th:href="@{/registrar}">+ Usuário</a>
    <a th:href="@{/logout}">Sair</a>
  </div>
</nav>
    
    
    </div>
    
  <header th:fragment="customheader">
      
      <th if role='FORNECEDOR'>
      
      <nav class="d-flex justify-content-center-between p-3 bg-secondarys">
          
          <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" th:href="@{/index}">Página inicial</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" th:href="@{/dashboard}">dashboard</a>
              </li>
          </ul>
          
        
          
          <a th:href="@{/login}">
              <button class="btn-sair">Deslogar</button>
          </a>
          
      </nav>
      
      
      
  </header>
  
  
</nav>
</div>
</html>
